<table class="table table-bordered table-hover">
	<thead>
		<th>Name</th>
		<th>Value</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<% ref.reference_attributes.each do |attribute| %>
			<tr class="reference_attribute_<%= attribute.name %>">
				<td><%= attribute.name %></td>
				<%= form_tag reference_attribute_path(attribute), method: :put do %>
					<td>
						<%= text_field_tag "reference_attribute[value]", attribute.value, class: "form-control" %>
					</td>
					<td>
						<%= hidden_field_tag "id", attribute.id %>
						<%= hidden_field_tag "reference_attribute[reference_id]", ref.id %>
						<%= submit_tag "Save", class: "btn btn-primary btn-xs" %>
					</td>
				<% end %>
				<td>
					<%= link_to raw("<i class='fa fa-times'></i> Remove"), attribute, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" if ref.can_remove_attribute?(attribute) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<p>
	<div class="panel-group" id="accordion">
	  	<div class="panel panel-default">
	    	<div class="panel-heading">
	      		<h4 class="panel-title">
	      			<span class="text-muted"><i class="fa fa-plus"></i></span>
	        		<a data-toggle="collapse" data-parent="#accordion" href="#add-a-new-attribute">
	          			Add a new attribute
	        		</a>
	      		</h4>
	    	</div>
		    <div id="add-a-new-attribute" class="panel-collapse collapse">
		      	<div class="panel-body">
		      		<div class="alert alert-info alert-dismissable">
		      			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		      			Add a new attribute by selecting the attribute name and filling in its value
		      		</div>
		      		<% if ref.get_attributes_not_set.empty? %>
		      			<span class="text-muted">All attributes have been set!</span>
		      		<% end %>
			       	<%= render "add_attributes_form", { ref: ref, attributes: ref.get_attributes_not_set } if !ref.get_attributes_not_set.empty? %>
		      	</div>
		    </div>
	  	</div>
	</div>
</p>