<%= javascript_include_tag "references/save_fetched_references" %>
<div class="page-header">
	<h1>Fetch results</h1>
</div>
<% unless @references.empty? %>
	<div class="alert alert-info alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    Select the references you want to save by toggling the "select" checkbox
	 </div>
	<table class="table table-bordered table-hover">
	    <thead>
	      <tr>
	      	<th>Select</th>
	        <th>Type</th>
	        <th>Id</th>
	        <th>BibTex</th>
	      </tr>
	    </thead>
	   	<%= form_tag "/save_references_from_acm", method: :post, id: "save-references-form" do %>
		    <tbody id="fetched-references-list">
		    	<% @references.each do |reference| %>
			    	<tr>
			    		<td class="text-center">
			    			<%= check_box_tag "select", "selected", true %>
			    		</td>
			    		<td>
			    			<span class="label label-primary"><%= reference.ref_type %></span>
			    			<%= hidden_field_tag "reference[#{reference.name}][ref_type]", reference.ref_type, class: "reference-info-input" %>
			    		</td>
			    		<td>
			    			<a rel="popover" class="reference-attributes-popover" 
                data-content="
                    <% reference.reference_attributes.each do |attribute| %>
                      <p>
                        <strong><%= attribute.name %></strong> <span class='text-muted'>-</span> <%= attribute.value %>
                      </p>
                    <% end %>
                  	" 
                data-placement="right"
                data-html="true" data-original-title="<%= reference.name %>"><%= reference.name %></a>
			    			<%= hidden_field_tag "reference[#{reference.name}][ref_name]", reference.name, class: "reference-info-input" %>
			    		</td>
			    		<td>
			    			<a 
			    			class="btn btn-default btn-xs reference-bibtex-popover" rel="popover"
			                  data-content="
			                    <div class='well well-sm'>
			                      <%= reference.get_bibtex %>
			                    </div>" 
			                  data-placement="right"
			                  data-html="true" data-original-title="Plain BibTex">
                  				<i class='fa fa-eye'></i> BibTex
                			</a>
			    		</td>
			    		<% reference.reference_attributes.each do |attribute| %>
			    			<%= hidden_field_tag "reference[#{reference.name}][attributes][#{attribute.name}]", attribute.value, class: "reference-info-input" %>
			    		<% end %>
			    	</tr>
		    	<% end %>
		    </tbody>
	    </table>
		<%= submit_tag "Save selected references", class: "btn btn-primary" %>
	<% end %>
<% else %>
	<span class="text-muted">
		No references found from the given url
	</span>
<% end %>
