<%= javascript_include_tag "references/mustache" %>
<%= javascript_include_tag "references/list_references" %>
<div class="page-header button-header">
  <h1>References</h1>
  <div class="pull-right">
    <%= link_to raw("<i class='fa fa-plus'></i> New reference"), new_reference_path, class: "btn btn-success" %>
  </div>
</div>
<% if notice %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
<% end %>
<h2>Filter</h2>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
          <span class="text-muted"><i class="fa fa-list"></i></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#filter-attributes">
            Options
          </a>
      </h4>
    </div>
    <div id="filter-attributes" class="panel-collapse collapse">
      <div class="panel-body">
         <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Type in a keyword for filtering the list below</strong>
            <ul>
              <li>To filter by a single keyword just type in the keyword. F.e <i>book</i> or <i>'book'</i></li>
              <li>To filter by multiple keywords type in f.e. <i>'book' and '2007' and 'Royce'</i>
         </div>
        <div class="form-group">
          <input type="text" placeholder="Keyword" class="form-control" id="filter-keyword">
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_tag "download_filtered_references", method: :post do %>
  <h2>
    List
    <%= button_tag(type: "submit", class: "btn btn-primary btn-sm pull-right", id: "download-filtered-references") do %>
      <i class="fa fa-download"></i> Download these references
    <% end %>
  </h2>
  <div id="reference-list">
  </div>
<% end %>
<script id="reference-row-template" type="text/html">
  <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Id</th>
      <th>BibTex</th>
      <th>Author<span class="text-muted">/</span>Editor</th>
      <th>Title</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
    {{#references}}
    <input type="hidden" name="references[{{id}}]">
    <tr>
        <td><span class="label label-primary">{{ref_type}}</span></td>
        <td>
          <a class="reference-attributes-popover" rel="popover" 
              data-content="
                  {{#reference_attributes}}
                    <p>
                      <strong>{{name}}</strong> <span class='text-muted'>-</span> {{value}}
                    </p>
                  {{/reference_attributes}}
                  <div class='btn-group'>
                    <a href='references/{{id}}/edit' class='btn btn-default btn-sm'>Edit</a>
                    <a href='references/{{id}}' class='btn btn-default btn-sm'>Show</a>
                  </div>" 
              data-placement="right"
              data-html="true" data-original-title="{{name}}">
              {{name}}
          </a>
        </td>
        <td><a class="btn btn-default btn-xs reference-bibtex-popover" rel="popover"
                data-content="
                  <div class='well well-sm'>
                    {{get_bibtex}}
                  </div>" 
                data-placement="right"
                data-html="true" data-original-title="Plain BibTex">
                <i class='fa fa-eye'></i> BibTex
              </a>
        </td>
        {{#displayed_attributes}}
          <td>{{value}}</td>
        {{/displayed_attributes}}
      </tr>
    {{/references}}
  </tbody>
</table>
</script>