<%= javascript_include_tag "references/create_reference" %>
<div class="page-header">
	<h1>New reference</h1>
</div>
<noscript>
	<div class="alert alert-warning alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		This application requires JavaScript, please enable it to continue
	</div>
</noscript>
<%= form_for(@reference) do |f| %>
	<% if @reference.errors.any? %>
	    <div class="alert alert-danger alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      	<%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:
	      	<ul>
	      	<% @reference.errors.full_messages.each do |msg| %>
	        	<li><%= msg %></li>
	      	<% end %>
	      	</ul>
	    </div>
 	<% end %>
 	<h2>Basic information</h2>
	<div class="form-group">
	    <%= label_tag "type" %>
	    <%= select_tag "reference[ref_type]", options_for_select(@ref_types, @reference.ref_type), class: "form-control" %>
	</div>
	<div class="form-group">
	    <%= label_tag "Id" %>
	    <%= f.text_field :name, class: "form-control" %>
	    <p class="help-block" id="auto-generate-help">Fill in the attributes below to auto generate the id</p>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="disable-generation"> Disable auto generating id
		</label>
	</div>
	<h2>Required attributes</h2>
	<div id="attributes_form">
	</div>
	<div class="form-group">
	    <%= submit_tag "Create Reference", class: "btn btn-success", id: "submit_reference" %>
	</div>
<% end %>
<div class="hidden" id="book_attributes_form">
	<div class="form-group">
		<div class="row">
			<div class="col-md-5">
				<%= label_tag "Author" %>
				<%= text_field_tag "attribute[author]", @attributes["author"], class: "form-control" %>
			</div>
			<div class="col-md-2 text-center" style="padding-top: 35px">
				<span class="text-muted">or</span>
			</div>
			<div class="col-md-5">
				<%= label_tag "Editor" %>
				<%= text_field_tag "attribute[editor]", @attributes["editor"], class: "form-control" %>
			</div>
		</div>
	</div>
	<% @book_fields.each do |attribute| %>
	
	<div class="form-group">
		<%= label_tag attribute %>
		<%= text_field_tag "attribute[#{attribute}]", @attributes[attribute], class: "form-control" %>
	</div>
	<% end %>
</div>
<div class="hidden" id="article_attributes_form">
	<% @article_fields.each do |attribute| %>
	<div class="form-group">
		<%= label_tag attribute %>
		<%= text_field_tag "attribute[#{attribute}]", @attributes[attribute], class: "form-control" %>
	</div>
	<% end %>
</div>
<div class="hidden" id="inproceedings_attributes_form">
	<% @inproceedings_fields.each do |attribute| %>
	<div class="form-group">
		<%= label_tag attribute %>
		<%= text_field_tag "attribute[#{attribute}]", @attributes[attribute], class: "form-control" %>
	</div>
	<% end %>
</div>