<% if notice %>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= notice %>
	</div>
<% end %>
<div class="page-header button-header">
  <h1><%= @reference.name %> <small><%= @reference.ref_type %></small></h1>
  <div class="pull-right">
    <div class="btn-group">
  		<%= link_to raw("<i class='fa fa-pencil'></i> Edit"), edit_reference_path(@reference), class: "btn btn-default" %>
  		<%= link_to raw("<i class='fa fa-times'></i> Remove"), @reference, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	</div>
  </div>
</div>
<h2>Attributes</h2>
<% if @reference.reference_attributes.empty? %>
	<span class="text-muted">
		No attributes yet. Add some below!
	</span>
<% else %>
	<dl class="dl-horizontal">
		<table class="table table-bordered table-hover">
			<thead>
				<th>Name</th>
				<th>Value</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<% @reference.reference_attributes.each do |attribute| %>
					<tr>
						<td><%= attribute.name %></td>
						<td><%= attribute.value %></td>
						<td><a class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit</a></td>
						<td><a class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Remove</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
<% end %>
<p>
	<div class="panel-group" id="accordion">
	  	<div class="panel panel-default">
	    	<div class="panel-heading">
	      		<h4 class="panel-title">
	      			<span class="text-muted"><i class="fa fa-plus"></i></span>
	        		<a data-toggle="collapse" data-parent="#accordion" href="#add-a-new-attribute">
	          			Add a new attribute
	        		</a>
	      		</h4>
	    	</div>
		    <div id="add-a-new-attribute" class="panel-collapse collapse">
		      	<div class="panel-body">
		      		<div class="alert alert-info alert-dismissable">
		      			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		      			Add a new attribute by selecting the attribute name and filling in its value
		      		</div>
		      		<% if @reference.get_attributes_not_set.empty? %>
		      			<span class="text-muted">All attributes have been set!</span>
		      		<% end %>
			       	<%= render "attributes_form", { reference: @reference, attributes: @reference.get_attributes_not_set } if !@reference.get_attributes_not_set.empty? %>
		      	</div>
		    </div>
	  	</div>
	</div>
</p>