<!DOCTYPE html>
<html>
<head>
  <title>BibTex manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "BibText manager", "/", class: "navbar-brand" %>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to "References", references_path %></li>
				<li><%= link_to raw("<i class='fa fa-download'></i> Download all references</a></li>"), "/download_all_references", id: "download_bibtex_link" %>
				<li><%= link_to raw("<i class='fa fa-eye'></i> View plain BibTex"), "/plain_bibtex" %></li>
			</ul>
		</div>
	</div>
 	<div class="wrapper">
 		<div class="container">
			<%= yield %>
		</div>
	</div>
</body>
</html>
